.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header-logo{
        min-width: 50px;
        min-height:50px;
        background-color:green;
        width: 50px;
        height:50px;
        flex-basis: 50px;
    }
    .header-search{
        min-width: 100px;
        min-height:50px;
        background-color:green;
        width: 100px;
        height:50px;
        flex-basis: 200px;
    }
    ul{
        display: flex;
        align-items:center;
        justify-content: center;
        gap:20px;
        li{
            list-style: none;
            background-color: red;
            padding:3px;
            border-radius: 20px;
            color:gray;
        }
    }
}